@font-face {
	font-family: 'Cocogoose' ;
	src: url(Fonts/Cocogoose-Classic-Medium-trial.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Cocogoose';
	box-sizing: border-box;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 20px;
}

nav {
	flex: 1;
	text-align: right;
}

nav ul {
	display: inline-block;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: #555;
}